@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Variables for easy theming */
:root {
    --transition-speed: 0.4s;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    /*it is use for enter size border or padding in size media or content*/
    scroll-behavior: smooth;
    /*control the style scroll and more effective*/
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 15px 30px;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    align-items: center;
}

.logo {
    color: #0a49f6;
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    transition: color var(--transition-speed);
}

.logo:hover {
    color: #05298b;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    background: #f0f0f0;
}

.nav-links li a {
    color: #0a49f6;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color var(--transition-speed), color var(--transition-speed), transform 0.3s;
}

.nav-links li a.active {
    color: #05298b;
}

.nav-links li a::before,
.logo::before,
#ld::before,
#dl::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #05298b;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links li a:hover {
    background-color: #05298b;
    color: #fff;
    transform: scale(1.05);
}

.nav-links li a:hover::before,
.logo:hover::before,
#ld:hover::before,
#dl:hover::before {
    transform: scaleX(1);
}

.nav-links li a:hover {
    background-color: #05298b;
    color: #fff;
    transform: scale(1.05);
}

.btnl {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.btnl .bar {
    width: 25px;
    height: 3px;
    background-color: #0a49f6;
    transition: var(--transition-speed);
}

.btnl.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.btnl.active .bar:nth-child(2) {
    opacity: 0;
}

.btnl.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #f0f0f0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        box-shadow: 0 4px 12px var(--shadow-color);
        transition: var(--transition-speed);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .btnl {
        display: flex;
        justify-content: center;
    }

    .bar-list {
        width: 10%;
        ;
    }

    .logo::before,
    #ld::before,
    #dl::before {
        display: none;
    }

}

.bar-list {
    display: flex;
    justify-content: space-between;
}

.bar-list a {
    text-decoration: none;
    color: #0a49f6;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    transition: background-color var(--transition-speed), color var(--transition-speed), transform 0.3s;
}

.bar-list a:hover {
    color: #05298b;
}


#light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#blight,
#bdark {
    width: 20px;
    height: 1.7rem;
    font-size: large;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: #3a6cf4;
    transition: 0.5s;
    font-weight: 700;
    position: absolute;
    right: -3rem;
    top: -1.7rem;
    border-radius: 25%;

}

.hide {
    display: none;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/j1.jpg) no-repeat;
    /*background: linear-gradient(to left, #0f2084fe, #000000bb);*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main:hover {
    background-image:
        linear-gradient(to right, #1e8be333, transparent),
        url(../images/j1.jpg);
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 10px 0;
}

.main-btn {
    text-decoration: none;
    color: #fff;
    background-color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s;
}

.main-btn:hover {
    background-color: #05298b;
    transform: scale(1.1);
}

.main .soical-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-left: 20px;
    transition: 0.5s;
}

.main .soical-icons a:hover {
    color: #0a49f6;
    font-size: 40px;
    transform: scale(1.1);
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    /*: top or -botton right or -left blur color || rgba(red green blue /opacity)*/
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s;
}

.cardt {
    background-color: #fff;
    width: 11.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    /*: top or -botton right or -left blur color || rgba(red green blue /opacity)*/
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s;
}

.card:hover,
.project-card:hover,
.cardt:hover {
    transform: scale(1.1);
    background: #f0f0f0;
}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.info p {
    color: black;
    font-size: 1.1em;
    margin: 10px;
}

.contact .icon {
    font-size: 4.5em;
}

.personal-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.personal-contact i {
    font-size: 8em;
    color: #3a6cf4;

}

.personal-contact h3,
.personal-contact p {
    font-size: 1.2em;
    color: #000;
}

.personal-contact .mail,
.personal-contact .phone {
    display: flex;
    align-items: center;

}

.personal-contact .mail i:last-child,
.personal-contact .phone i:last-child {
    display: none;
}

.personal-contact .mail:hover i:first-child,
.personal-contact .phone:hover i:first-child {
    display: none;
}

.personal-contact .mail:hover i:last-child,
.personal-contact .phone:hover i:last-child {
    display: inline;
}

.projects {
    background: #000515;
}

.projects .content {
    margin: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 15px;
    transition: 0.7s;
}

.project-card:hover {
    transform: scale(1.1);
    background: #cfcfcf;
}

.project-image img {
    width: 100%;
    height: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
    transition: 0.5s;
}

.navigation a:hover,
.more-details:hover {
    color: #05298b;
}


.footer {
    background: #000515;
    color: #fff;
    padding: 2em;
    display: flex;
    width: 100%;

    align-items: center;
}

.cf {
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1em;
    font-weight: 600;
}

.footer-title a {
    text-decoration: none;
    color: #0a49f6;
    transition: 0.5s;
}

.footer-title a:hover {
    color: #05298b;
}

.footer .soical-icons a {
    color: #cfcfcf;
    font-size: 1.8em;
    padding-left: 20px;
    transition: 0.5s;
}

.footer .soical-icons a:hover {
    color: #0a49f6;
}

#btn {
    width: 33px;
    height: 33px;
    border: none;
    border-radius: 50%;
    background: #3a6cf4;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    display: none;
    transition: 0.7s;
}

#btn i {
    color: white;
    font-size: 1.5em;

}

#btn:hover {
    background-color: #05298b;
}

@media (max-width:1023px) {


    #blight,
    #bdark {
        margin-right: 31px;

    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-contact h3 {
        font-size: 1.6em;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }

    .cf {
        font-size: 0.8em;
        justify-content: space-evenly;
    }

}

@media (max-width:641px) {

    body {
        font-size: 11px;
    }


    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }

    .cardt {
        width: 9.25em;
    }

    .icon {
        font-size: 4em;
    }

    .info h3 {
        font-size: 0.8em;
    }

}

@media (mi-width:300px) {
    body {
        font-size: 10px;
    }

}



.tit,
.tit1 {
    color: #4e9eff;
    text-align: center;
}

.slider,
.slider1 {
    position: relative;
    width: 450px;
    overflow: hidden;
    margin: auto;
}

.slider-container,
.slider-container1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card1,
.card2 {
    min-width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.prev-btn,
.next-btn,
.prev-btn1,
.next-btn1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev-btn,
.prev-btn1 {
    left: 0;
}

.next-btn,
.next-btn1 {
    right: 0px;
}


/*Dark Mod Style*/

.dark-mode {
    background-color: #222;
    /* Background color for dark mode */
    color: white;
    /* Text color for dark mode */
}

.dark-mode a {
    color: white;
    /* Ensures that all links have white color in dark mode */
}

.dark-mode .project-category,
.dark-mode .project-title a {
    color: white;
    /* Ensures specific project titles and categories are also white */
}

.dark-mode .main .main-btn {
    background: #181818;
}

.dark-mode .main .main-btn:hover {
    background: #080808;
}

.dark-mode .main span {
    color: #fff;
}

.dark-mode .main .soical-icons a:hover {
    color: #601cfc;
    font-size: 40px;
    transform: scale(1.1);
}


.dark-mode .project-category,
.dark-mode .project-card {
    background: #272727;
    border-color: #272727;
}

.dark-mode .project-category,
.dark-mode .cards i {
    color: #fff;
}

.dark-mode .project-category,
.dark-mode h3 {
    color: #fff;
}

.dark-mode h2 {
    color: #fff;
}

.dark-mode .navigation a:hover,
.dark-mode .more-details:hover {
    color: #601cfc;
}


.dark-mode .project-category,
.dark-mode .card,
.dark-mode .cardt {
    background: #272727;
    border-color: #272727;
}

.dark-mode .project-category,
.dark-mode .card p {
    color: white;

    /* Ensures specific project titles and categories are also white */
}

.dark-mode .more-details:hover {
    color: #601cfc;
}

.dark-mode .projects,
.dark-mode .footer {
    background: #080808;
}

.dark-mode .footer-title a:hover {
    color: #601cfc;
}

.dark-mode .footer .soical-icons a:hover {
    color: #601cfc;
}


.dark-mode #btn {
    background: #181818;
}

.dark-mode #btn:hover {
    background: #080808;
}

.hide {
    display: none;
}


/*Dark Mod Nav bar*/

.dark-mode header {
    background: #1c1c1e;
}

.dark-mode .navbar {
    background: #1c1c1e;
}

.dark-mode .logo {
    color: #fff;
}

.dark-mode .logo:hover {
    color: #601cfc;
}

.dark-mode li a {
    color: #fff;
}

.dark-mode .nav-links {
    background: #1c1c1e;
}

.dark-mode .nav-links li a.active {
    color: #601cfc;
}

.dark-mode .nav-links li a:hover {
    background-color: #181818;
    color: #601cfc;
    transform: scale(1.05);
}


.dark-mode .nav-links li a::before,
.dark-mode .logo::before,
#dl::before {
    background-color: #601cfc;
}

.dark-mode .nav-links li a:hover {
    background-color: #601cfc;
    color: #fff;
}

.dark-mode .btnl .bar {
    background-color: #fff;
}

.dark-mode .bar-list a {
    color: #fff;
}

.dark-mode .bar-list a:hover {
    color: #601cfc;
}
